<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">Support
	Ticket System</title>
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport" />


<link th:rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css} " />
<link th:rel="stylesheet"
	th:href="@{/webjars/fontawesome/4.7.0/css/font-awesome.min.css}" />
<style>
.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: black;
	color: white;
	height: 100px;
	text-align: center;
}
</style>

</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" th:href="@{/}">Support Ticket System</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul sec:authorize="isAuthenticated()" class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link"
						type="button" th:href="@{/ticket/add}" >Create Ticket <span class="sr-only">(current)</span>
					</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link"
						th:href="@{/viewTickets}">View Tickets <span class="sr-only">(current)</span>
					</a>
				</li>
		
			</ul>
		</div>
		<div class="navbar-nav">

			<a sec:authorize="!isAuthenticated()" th:href="@{/login}">Login</a> <a
				sec:authorize="isAuthenticated()" th:href="@{/logout}">Log out</a>

		</div>

	</nav>


	<div class="container">

		<div layout:fragment="content">
			<!-- Your Page Content Here -->
		</div>

	</div>


	<script th:src="@{/webjars/jquery/1.10.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>

	<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>

	<div class="footer"></div>

</body>
<script>
    $(document).ready(function () {
        $('#getCategory').click(function () {
            
            var url = "https://604938a3fb5dcc0017969c2d.mockapi.io/api/category";

            $.getJSON(url, function (data) {
                $.each(data, function (index, value) {
                    // APPEND OR INSERT DATA TO SELECT ELEMENT.
                    $('#sel1').append(
							'<option value="' + value.category + '">'+ value.category	+ '</option>');
                });
            });
        });

        // SHOW SELECTED VALUE.
        $('#sel1').change(function () {
            $('#msgCategory').text('Selected Item: ' + this.options[this.selectedIndex].text);
            
           
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('#getStatus').click(function () {
            

           var url = "https://604938a3fb5dcc0017969c2d.mockapi.io/api/status";

            $.getJSON(url, function (data) {
                $.each(data, function (index, value) {
                    // APPEND OR INSERT DATA TO SELECT ELEMENT.
                    $('#sel2').append(
							'<option value="' + value.statusCode + '">'+ value.statusCode	+ '</option>');
                });
            });
        });

        // SHOW SELECTED VALUE.
        $('#sel2').change(function () {
            $('#msgStatus').text('Selected Item: ' + this.options[this.selectedIndex].text);
        });
    });

</script>


</html>
