<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorator="layout">
      
      <head>
        <title>Home</title>
    </head>
    <body>
    	<div layout:fragment="content">
    	
    	
		    <table id="datatable-buttons"
			class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Ticket No</th>
					<th>Name</th>
					
					<th>Category</th>
					<th>Status</th>
						<th>User Name</th>
				<th>  Action  </th>
					
				</tr>
			</thead>

			<tbody>
				<tr th:each="ticket : ${listTicket}">
					<td th:text="${ticket.id}"></td>
					<td th:text="${ticket.name}"></td>
					
					<td th:text="${ticket.category}"></td>
					<td th:text="${ticket.status}"></td>
					<td th:text="${ticket.userName}"></td>
				<td>
<!-- <a class="nav-link" 
						type="button"  th:href="@{/ticket/{${ticket.id}}">Update</a> -->
 						<a th:href="@{/ticket/{id}(id=${ticket.id})}">Update</a>
					
							
						</td>
				</tr>
			</tbody>
		</table>
    	</div>
    	
    </body>
    
</html>
